.DS_Store
.trigger
identity.json
.hash
.idea
.project
**/*.iml

inspector/an-inspector.*
inspector/ios-inspector.*
inspector/ios-inspector/ForgeInspector
inspector/ios-inspector/ForgeCore.framework
inspector/ios-inspector/ForgeInspector.xcodeproj
inspector/ios-inspector/ForgeCore.bundle
inspector/ios-inspector/ForgeModule/build
inspector/ios-inspector/ForgeModule/ForgeModule.xcodeproj
inspector/ios-inspector/build
inspector/ios-inspector/bolts.a

inspector/an-inspector/build/
inspector/an-inspector/local.properties
inspector/an-inspector/out
inspector/an-inspector/ForgeModule/gen
inspector/an-inspector/.gradle/
inspector/an-inspector/gradle/
inspector/an-inspector/gradlew
inspector/an-inspector/gradlew.bat
inspector/an-inspector/ForgeInspector
inspector/an-inspector/ForgeModule/.settings
inspector/an-inspector/ForgeModule/libs
inspector/an-inspector/ForgeModule/trigger-gen
inspector/an-inspector/ForgeModule/.classpath
inspector/an-inspector/ForgeModule/.project
inspector/an-inspector/ForgeModule/AndroidManifest.xml
inspector/an-inspector/ForgeModule/project.properties
inspector/an-inspector/ForgeModule/build/

module/ios/module.a
module/android/ForgeModule-crosswalk-release.aar
module/android/ForgeModule-vanilla-release.aar
